@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,1000&family=Dancing+Script:wght@400;500;600;700&family=Fira+Code:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800;900&family=Rubik:wght@500;600;700;800;900&family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

$font-DM-Sans: 'DM Sans', sans-serif;
$font-Dancing-Script: 'Dancing Script', cursive;
$font-Fira-Code: 'Fira Code', monospace;
$font-Playfair-Display: 'Playfair Display', serif;
$font-Rubik: 'Rubik', sans-serif;
$font-Whisper: 'Whisper', sans-serif;
$font-Shrikhand: 'Shrikhand', cursive;
$font-Syne: 'Syne', cursive;



$color-0: #1D1D1B;
$color-1: #000000;
$color-2: #2E2E2E;
$color-3: #A06929;
$color-4: #FFD300;
$color-5: #FBBF24;
$color-6: #D3D3D3;
$color-7: #ffffff;
$color-8: #Ffffff40;
$color-9: rgba(0, 0, 0, 0.9);
$color-10: #FBBF24;
$color-11: #0B0C10;
$color-12: #0a0420;